{% set banner = None %}
{% if page is defined %}
{% set banner = page.banner %}
{% elif article is defined %}
{% set banner = article.banner %}
{% endif %}
{% set banner = banner or BANNER %}
<style>
	#banner{
	    background-image:url("{{ SITEURL}}/{{ banner }}");
	}
	/* foo */
</style>

<div id="banner">
	<div class="container{% if BOOTSTRAP_FLUID %}-fluid{% endif %}">
		{% if (not HIDE_SITENAME) or BANNER_SUBTITLE %}
		<div class="copy">
			{% if not HIDE_SITENAME %}
			<h1>{{ SITENAME }}</h1>
			{% endif %}
			{% if BANNER_SUBTITLE %}
				<p class="intro">{{ BANNER_SUBTITLE }}</p>
			{% endif %}
		</div>
		{% endif %}
	</div>
</div>
